:root {
  --Primary-full-side-bar: hsl(174, 77%, 80%);
  --Primary-Slider-Background: hsl(174, 86%, 45%);
  --Primary-Discount-Background: hsl(14, 92%, 95%);
  --Primary-Discount-Text: hsl(15, 100%, 70%);
  --Primary-CTA-Text: hsl(226, 100%, 87%);

  --Neutral-Pricing-Component-Background: hsl (0, 0%, 100%);
  --Neutral-Main-Background: hsl(230, 100%, 99%);
  --Neutral-Empty-Slider-Bar: hsl(224, 65%, 95%);
  --Neutral-Toggle-Background: hsl(223, 50%, 87%);
  --Neutral-Text: hsl(225, 20%, 60%);
  --Neutral-Text-CTA-Background: hsl(227, 35%, 25%);
}

*,
::before,
::after {
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  margin: 0;
  padding: 0;
}

#root {
}

.App {
  /* align-items: center; */
  min-width: 100vw;
  min-height: 100vh;
  border: 1px solid red;
}

p {
  font-size: 10px;
  color: var(--Neutral-Text);
}
h1 {
  font-size: 25px;
  font-weight: 800;
  color: var(--Neutral-Text-CTA-Background);
}

h2 {
  font-size: 18px;
  font-weight: 800;
  color: var(--Neutral-Text-CTA-Background);
}
h6 {
  font-size: 12px;
  font-weight: 600;
  color: var(--Neutral-Text);
}

.header {
  background: url("./Assets/Images/Project-images/pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.body {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.submit-btn {
  background-color: var(--Neutral-Text-CTA-Background);
  color: var(--Primary-CTA-Text);
}

.slider {
  -webkit-appearance: none;
  width: 90%;
  height: 8px;
  border-radius: 50px;
  background: #ecf0f9;
  outline: none;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 0.7;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 40px;
  height: 40px;
  background: url("./Assets/Images/Project-images/icon-slider.svg"),
    rgb(16, 216, 197);
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: none;
  box-shadow: -5px 5px 10px rgba(16, 216, 197, 0.5),
    5px 5px 20px rgba(16, 216, 197, 0.5);
}

.slider::-moz-range-thumb {
  width: 40px;
  height: 40px;
  background: url("./Assets/Images/Project-images/icon-slider.svg"),
    rgb(16, 216, 197);
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: none;
  box-shadow: -5px 5px 10px rgba(16, 216, 197, 0.5),
    5px 5px 20px rgba(16, 216, 197, 0.5);
}

.yearly-active{
  margin-right: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
